@page "/"
@using VillageRental.Components.Instances
@using VillageRental.Components.Data
@using VillageRental.Components.Data.Exceptions
@inject SystemManagement sysManagement
@inject DatabaseManager dbManager

<h1>Hello, Admin!</h1>

Welcome to Village Rentals. Where you will manage your customer data, equipment data and create rentals

<p>The application is currently storing it's data in this path:</p>
<p>"@applicationStoragePath"</p>

<p>Loaded @sysManagement.customerList.Count customers into the system</p>
<p>Loaded @sysManagement.equipmentList.Count equipments into the system</p>
<p>Loaded @sysManagement.categoryList.Count category into the system</p>
<p>Loaded @sysManagement.rentalInformationList.Count rental informations into the system</p>

@code{
	private string applicationStoragePath = FileSystem.Current.AppDataDirectory;

	protected override void OnInitialized()
	{
		try
		{
			dbManager.LoadCategory(sysManagement, DataFilePath.fileCategoryPath);
			dbManager.LoadCustomer(sysManagement, DataFilePath.fileCustomerPath);
			dbManager.LoadEquipment(sysManagement, DataFilePath.fileEquipmentPath);
			dbManager.LoadRentalInformation(sysManagement, DataFilePath.fileRentalInformationPath);
		}
		catch (SystemHandler systemHandler)
		{
			Application.Current.MainPage.DisplayAlert("Error encounter!", $"{systemHandler.ErrorCode}: {systemHandler.Message}", "OK");
		}
	}
}
